HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/provider/mvnw.cmd
/provider/mvnw
/feign-api/mvnw
/feign-api/mvnw.cmd
/eureka/mvnw
/eureka/mvnw.cmd
/consumer/mvnw
/consumer/mvnw.cmd
/mvnw
/mvnw.cmd
/provider/.mvn/
/.mvn/
/consumer/.mvn/
/eureka/.mvn/
/feign-api/.mvn/
/provider/.mvn/
/consumer-ribbon/mvnw
/consumer-ribbon/mvnw.cmd
/consumer-ribbon/.mvn/
/consumer-feign/mvnw
/consumer-feign/mvnw.cmd
/consumer-feign/.mvn/
